{% set master_hosts = salt['pillar.get']('master_hosts') %}
upstream kube-apiserver {
    hash $remote_addr consistent;
    {% for master in master_hosts %}
    server {{master}}:6443 max_fails=2 fail_timeout=3;
    {% endfor %}
}

server {
    listen 0.0.0.0:6443;
    proxy_pass kube-apiserver;
    proxy_connect_timeout 2s;
}