{% set cfssl_cert_c = salt['pillar.get']('cfssl_cert_c', 'CN') %}
{% set cfssl_cert_l = salt['pillar.get']('cfssl_cert_l', 'Beijing') %}
{% set cfssl_cert_st = salt['pillar.get']('cfssl_cert_st', 'Beijing') %}
{% set cfssl_cert_o = salt['pillar.get']('cfssl_cert_o', 'fdisk.cc') %}
{% set cfssl_cert_ou = salt['pillar.get']('cfssl_cert_ou', 'DevOps') %}
{% set cfssl_cert_expiry = salt['pillar.get']('cfssl_cert_expiry', '87600h') %}
{
    "CN": "Root CA",
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "{{ cfssl_cert_c }}",
            "L": "{{ cfssl_cert_l }}",
            "ST": "{{ cfssl_cert_st }}",
            "O": "{{ cfssl_cert_o }}",
            "OU": "{{ cfssl_cert_ou }}"
        }
    ],
    "ca": {
        "expiry": "{{ cfssl_cert_expiry }}"
    }
}