{% set cfssl_cert_expiry = salt['pillar.get']('cfssl_cert_expiry', '87600h') %}
{
    "signing": {
        "default": {
            "expiry": "{{ cfssl_cert_expiry }}"
        },
        "profiles": {
            "peer": {
                "expiry": "{{ cfssl_cert_expiry }}",
                "usages": [
                    "signing",
                    "key encipherment",
                    "server auth",
                    "client auth"
                ]
            },
            "server": {
                "expiry": "{{ cfssl_cert_expiry }}",
                "usages": [
                    "signing",
                    "key encipherment",
                    "server auth"
                ]
            },
            "client": {
                "expiry": "{{ cfssl_cert_expiry }}",
                "usages": [
                    "signing",
                    "key encipherment",
                    "client auth"
                ]
            }
        }
    }
}